* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
}

/* navigation-top */
input:focus,
.dropdown-item:focus {
    outline: none;
}

.dropdown-menu input {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand img {
    width: 180px;
    height: auto;
}

.navbar {
    background-color: #00a680;
    height: 60px;
    padding: 15px 48px !important;
}

.dropdown {
    background-color: #078171;
    border-radius: 32px;
    padding: 0 9px 0 11px;
    font-weight: 700;
    font-size: 14px;
}

#search {
    background-color: #ffffff;
}

.nav-right ul {
    list-style: none;
}

.nav-right ul li {
    vertical-align: middle;
    border-right: 1px solid #f3f0f04a;
}

.nav-right ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;

}

.nav-right ul li a i {
    font-size: 18px !important;
}

.nav-right ul li a p {
    margin: 0 10px;
}

button#login {
    color: #495057;
    font-size: 14px;
    font-weight: bold;
}

input.input-search::placeholder {
    font-style: italic;
    font-size: 14px;
}

/* banner */
.banner {
    background-image: url('../images/banner.jpg');
    min-height: 250px;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-center {
    background-color: #fff;
    display: inline-block;
    border-radius: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    vertical-align: middle;
    line-height: 50px;
    padding: 0 20px;
}

.item-center span {
    margin-top: -10px;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.item-center i {
    font-size: 24px;
    color: #00a680;
    margin-top: 12px;
}

.close-btn {
    background-color: rgba(0, 10, 18, .6);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.close-btn span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

/* block-menu */
.block-menu {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-top: -24px;
    z-index: 1;
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 10px 0;
}

.block-menu .block-item {
    width: 20%;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    line-height: 3;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.block-menu .block-item:last-child {
    border-right: none;
}

.block-menu .block-item .icon {
    display: block;
    margin-bottom: 4px;
    font-size: 32px;
    color: #00a680;
    font-size: 24px;
    height: 35px;
}

/* sidepanel */
.sidepanel {
    max-width: 100vw;
    width: 0;
    position: fixed;
    z-index: 10;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.sidepanel .content-side .has-icon p i {
    color: #00a680;
    width: 25px;
}

.sidepanel .content-side a.gray p i {
    color: #818181;
}

#extend-content1 i {
    color: #00a680;
    width: 25px;
}

.sidepanel .header-side {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -45px;
}

.sidepanel img {
    max-width: 130px;
    height: auto;
}

.sidepanel a {
    margin: 5px 20px 5px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #e5e5e5;
}

.sidepanel>a:first-child {
    border: none;
    margin: 0;
    color: #00a680;
}

.sidepanel a:hover {
    text-decoration: none;
    color: #818181;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.content-side button {
    padding: 8px 16px;
    margin: 0px 20px;
    width: 90%;
    border: 1px solid #078171;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
}

.content-side button.btn-login {
    background-color: #fff;
    border-radius: 3px;
    color: #078171;
    margin-right: 20px;
}

.content-side button.btn-join {

    background-color: #078171;
    color: #fff;
}

.openbtn:hover {
    background-color: #444;
}

.extra-menu {
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    font-size: 14px;
}
.extra-menu .navbar-nav{
    margin-top: -10px;
}
/* extra-menu-white */
.extra-menu a {
    color: #000000 !important;
}

.extra-menu i {
    font-size: 20px;
}

.extra-menu li:hover a {
    color: #007c60 !important;
}

/* content */
.content {
    background-color: #ebebeb;
}

/* profile */
.top-profile {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.profile {
    border: 1px solid #e5e5e5;
}

.cover {
    width: 100%;
}

.profile .cover {
    height: 100px;
    background-color: #007c60;
}

.profile .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('../images/avt.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -40%;
    left: 10%;
}

.info-text {
    padding-left: 40%;
}

.info-text::after {
    clear: both;
}

.info-text span {
    font-size: 13px;
    color: #818181;
}

.info-text h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.follow {
    flex-direction: row;
    font-size: 13px;
}

.follow .col-6 p {
    color: #000000;
}

.follow .col-12 p {
    color: #818181;
}

.follow span {
    color: #818181;
}

.content-profile {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.content-profile h3 {
    font-size: 14px;
    font-weight: 600;
}

.content a {
    margin-left: 10px;
    color: #007c60;
    font-weight: normal;
    font-size: 12px;
}

.content a:hover {
    color: #00a680;
    text-decoration: none;
}

.content-profile h2 {
    font-size: 14px;
    color: #007c60;
    font-weight: 600;
}

.story {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.story .title span {
    font-size: 13px;
}

.title span.mr-auto {
    color: #818181
}

.a-story {
    background-image: url('../images/avt.jpg');
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    border: 2px solid #f151d7;
}

.a-story h1,
span {
    font-size: 13px;
    color: #818181;
}


.detail h1 {
    font-size: 14px;
}

.update {
    background-color: #007c60;
    padding: 10px 0 10px 20px;
}

.update textarea {
    /* padding-left: 10px; */
    border-radius: 7px;
    border: 1px solid #818181;
    background-image: url('../images/img.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.update textarea::placeholder {
    color: #00a680;
    font-size: 14px;
    padding: 12px 0 0 10px;
}

.update button {
    border: 1px solid #102b24;
    background-color: #fff;
    color: #00a680;
    padding: 20px 16px;
    height: 30px;
    vertical-align: middle;
    line-height:0;
    margin-top: 5px;
    border-radius: 3px;
}

.update button:hover {
    color: #fff;
    background-color: #078171;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    transition: all 0.5 ease;
}

.post .a-story,
.update .a-story {
    border: none;
}
.update .a-story{
    width: 50px;
}
.post a b{
    color: #212529;
    font-size: 15px;
}
.post-content{
    font-size: 15px;
}

.normal-icon{
    width: 40px;
    height: auto;
    fill: currentColor;
}
.post .link-icon a{
    color:rgb(101, 109, 134) ;
}

#cmt:hover svg{
    color:#1B95E0 ;
    background-color: #00a68017;
}
#cmt:hover span{
    color:#1B95E0 ;
}
#reload:hover svg{
    color:#007c60;
    background-color: #00a68014;
}
#reload:hover span{
    color:#007c60;
}
#heart:hover span{
    color: #f33b8f;
}
#heart:hover svg{
    color: #f33b8f;
    background-color: #f33b8f1c;
    
}
#upload:hover span{
    color: #08dd55;
}
#upload:hover svg{
    color: #08dd55;
    background-color: #08dd551c;
}
/* .post:hover{
    background-color: #E0F7FA !important;
} */
.dropdown-toggle::after{
    display: none !important;
}
.dropdown-post{
    background: none !important;
}
.dropdown-menu{
    top: -15px !important;
    left: -140px !important;
    width: 190px !important;
}
.dropdown-menu li{
    padding: 8px !important; 
}
.dropdown-post ul li a{
    color: #212529 !important;
    font-size: 13px;
}
.dropdown-toggle:hover i{
    color:#1B95E0 ;
    background-color: #00a68017;
}
.small-icon{
    width: 16px;
    height: auto;
    margin-right:10px;
}
.ads img{
    width: 100%
    height: auto;
}
/* responsive */
@media only screen and (max-width: 1200px) {
    .nav-right #search {
        background: none !important;
        color: #fff;
    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        padding: 0 !important;

    }
}

@media only screen and (max-width: 768px) {

    #logo {
        width: 100%;
        text-align: center !important;
    }

    #logo img {
        width: 160px;
    }

}

@media only screen and (max-width: 768px) {
    #logo {
        width: 75%;
        text-align: center !important;
        padding-left: 10%;
    }

    #logo img {
        width: 120px;
    }

    .block-item {
        padding-bottom: 20px;
    }
}
